{% extends 'base.html' %}
{% block content %}
<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrucment Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            {% if request.user.is_authenticated %}
            <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for dt in data %}
          <tr>
            <th scope="row">{{dt.id}}</th>
            <td>
                {% for musician in dt.musicians.all %}
                <p>{{musician.first_name}}</p>
                {% endfor %}
            </td>
            <td>
                {% for musician in dt.musicians.all %}
                <p>{{musician.last_name}}</p>
                {% endfor %}
            </td>
            <td>{{dt.rating}}</td>
            <td>
                {% for musician in dt.musicians.all %}
                <p>{{musician.instrument_type}}</p>
                {% endfor %}
            </td>
            <td>{{dt.title}}</td>
            <td>{{dt.release_date}}</td>
            {% if request.user.is_authenticated %}
            <td>
                <a class="btn btn-outline-warning mx-2" href="{% url 'profile' %}">Edit</a>
                <a class="btn btn-outline-danger" href="{% url 'profile' %}">Delete</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}